{% load static %}
<!DOCTYPE html>
<html>
<head>


	<title>{% block title %} {% endblock %}</title>
	
    
	<!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/dialogbox.css' %}">

    {% block extrahead %}

    {% endblock %}


</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">7TH LAYER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'umasagar:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'umasagar:select-supplier' %}">New Sale</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'umasagar:sales-list' %}" >Sales List</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% if request.user.is_authenticated %}

      <span style="color:white">{{request.user.username}}</span>
          <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>

      {% else %}

          <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>

      {% endif %}
    </div>
  </div>
</nav>

<div class="container mt-5">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><b style="color: green">{{ message }}</b></li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}

{% endblock %}

</div>

</body>
</html>