{% extends "base.html" %}


{% block title %} New Sale {% endblock title %}


{% block content %}



{% if request.user.usertype.usertype == 'salesrep' %}



    <div style="color:#402657; font-style: bold; font-size: 1.5rem; border-bottom: 1px solid white;">New Sale</div> 
    
    <br>
    
    <form method="post">

        {% csrf_token %}


        <input type="text" list="userlist" placeholder="Select User" class="form-select" style="width: 300px;" name="dealer" id="id_dealer" autocomplete="off">

    

        <datalist id="userlist">

        {% for i,j in form.dealer.field.choices %}

        <option value="{{i}}">{{j}}</option>

        {% endfor %}

        </datalist>

        
        
        <!-- {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %} -->

        <br>
        <div class="align-middle">
            <button type="submit" class="btn ghost-green">Next</button>
            <a href="#" class="btn ghost-button">Cancel</a>
        </div>
        
    </form>



{% else %}


<span>No Permissions</span>


{% endif %}

{% endblock content %}

